node_modules
.env
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache
artifacts
forge-cache
out
deployments/

remix-compiler.config.js
artifacts/contracts/vaults/SmartToken.sol/SmartToken.dbg.json
artifacts/contracts/vaults/SmartToken.sol/SmartToken.json
